<form [formGroup]="tableForm" #formDir="ngForm">
  <div class="row">
    <div class="col">
      <label for="exampleInputEmail1">Rows</label>
      <input
        type="number"
        class="form-control"
        id="exampleInputrows"
        aria-describedby="rows"
        placeholder="rows"
        formControlName="rows"
        required
      />
    </div>
    <div class="col">
      <label for="exampleInputPassword1">cols</label>
      <input
        type="number"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="cols"
        formControlName="cols"
        required
      />
    </div>
  </div>
</form>


<table>
    <tbody>
    <tr *ngFor="let r of table; let row = index;"> <!-- une tr par ligne -->
      <td *ngFor="let c of table[row]; let col = index;"> <!-- une td par colonne -->
        <app-case [(color)]="table[row][col]"></app-case>
      </td>
    </tr>
    </tbody>
  </table>